---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About | Lion City Locking Library">
  <h1>About</h1>

  <p>
    Lion City Locking Library documents the past, present, and future of
    Singapore Campbellocking.
  </p>
</BaseLayout>
