---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="What is Campbellocking? | Lion City Locking Library">
  <h1>It all started with Don Campbell</h1>
  <p>
    'Campbellocking' or 'Locking' is a dance inspired by the movements of Don
    Campbell.
  </p>
  <p>
    1970, Don was trying to learn a party dance called 'The Robot Shuffle'. He
    could not execute it well and his movements took on a new form - 'The Lock'.
    Don's dancing gained popularity and people began copying him, eventually
    creating the dance we know today as 'Campbellocking'.​
  </p>
  <p>
    For a detailed explanation on the history of 'Campbellocking', please refer
    to the <a href="https://campbellock.dance/"
      >official Campbellocking website</a
    >.
  </p>
</BaseLayout>
