---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Key Contributors | Lion City Locking Library">
  <h1>Key Contributors</h1>
  <p>
    Meet the people who have contributed to the Singapore Locking dance scene.
  </p>
</BaseLayout>
