---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
</Layout>
---
---

<html>
  <head>
    <title>Lion City Locking Library</title>
  </head>
  <body>
    <h1>Lion City Locking Library</h1>
    <p>Documenting the history, culture, dancers, crews, events, and stories of Locking in Singapore.</p>
  </body>
</html>