---
import "../styles/global.css";

const { title } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body>
    <header class="site-header">
      <nav class="site-nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/campbellocking">What is Campbellocking</a>
        <a href="/timeline">Timeline</a>
        <a href="/contributors">Key Contributors</a>
        <a href="/ask">Ask Anything</a>
        <a href="/interviews">Lock Talk</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
